Source: basic256
Section: devel
Priority: optional
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper-compat (= 14),
 bison,
 cmake,
 flex,
 qt6-base-dev,
 qt6-l10n-tools,
 qt6-multimedia-dev,
 qt6-serialport-dev,
 qt6-speech-dev,
 qt6-tools-dev,
 qt6-tools-dev-tools,
Standards-Version: 4.7.4
Homepage: https://www.basic256.org/
Vcs-Browser: https://salsa.debian.org/debian/basic256
Vcs-Git: https://salsa.debian.org/debian/basic256.git

Package: basic256
Architecture: any
Recommends: qt6-speech-speechd-plugin
Description: BASIC programming environment for students and hobbyists
 BASIC256 is an easy to use version of the classic BASIC programming
 language, designed to make learning programming fun through graphics,
 animation, sound and experimentation. It uses traditional control
 structures like gosub, for/next, and goto, which helps novice
 programmers easily see how program flow-control works. It also has a
 built-in graphics mode which lets them draw pictures on screen in
 minutes, and a set of detailed, easy-to-follow tutorials that
 introduce programming concepts through fun exercises.
